<form class="block-panel" method="POST">
   <h2 class="block-panel-heading">Sign in</h2>
   <input type="text" name="email" id="email" class="form-control credentials" value="{{emailValue}}" placeholder="Email address" required="" autofocus="">
   <p>{{errorsMsgs.email}}</p>
   <input type="password" name="password" class="form-control credentials" placeholder="Password" required="">
   <p>{{errorsMsgs.password}}</p>
   <label class="checkbox">
   <input type="checkbox" name="remember" value="remember-me"> Remember me
   </label>
   <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
